.menu-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden; /* Prevent rendering issues during scroll */
    backface-visibility: hidden; 
    transform: translateZ(0); /* Trigger hardware acceleration */
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden; /* Prevent rendering issues during scroll */
    backface-visibility: hidden;
    transform: translateZ(0); /* Trigger hardware acceleration */
}

.menu__item {
    flex: 1;
    position: relative;
    overflow: hidden;
    transform: translateZ(0); /* Trigger hardware acceleration */
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.menu__item:last-child {
    transform: translateZ(0); /* Trigger hardware acceleration */
}

.menu__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    color: #fff;
    font-size: 4vh;
}

.menu__item-link:hover {
    color: #060010;
}

.menu__item-text {
    display: block;
}

.menu__item-hover-text {
    display: none;
}

.menu__item-link:focus:not(:focus-visible) {
    color: #fff;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: #fff;
    transform: translate3d(0, 101%, 0);
    transition: transform 0.6s ease-expo;
    -webkit-backface-visibility: hidden; /* Prevent rendering issues during scroll */
    backface-visibility: hidden;
    will-change: transform; /* Optimize for animations */
}

.marquee__inner-wrap {
    height: 100%;
    width: 200%;
    display: flex;
    transform: translateX(0);
}

.marquee__inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 200%;
    will-change: transform;
    animation: marquee 15s linear infinite;
}

.marquee span {
    color: #060010;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4vh;
    line-height: 1.2;
    padding: 1vh 1vw 0;
}

.marquee__img {
    width: 400px;
    height: 14vh;
    margin: 2em 2vw;
    padding: 1em 0;
    border-radius: 10px;
    background-size: cover;
    background-position: 50% 50%;
}

.menu__item-link:hover + .marquee {
    transform: translate3d(0, 0%, 0);
}

.menu__item-link:hover .menu__item-text {
    display: none;
}

.menu__item-link:hover .menu__item-hover-text {
    display: block;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
