.scroll-float {
    overflow: hidden;
}

.scroll-float-text {
    display: inline-block;
    font-size: clamp(1.4rem, 4vw, 7rem);
    font-weight: 900;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 40px;
}

.char {
    display: inline-block;
}
